<h2>Transactions</h2>

<%= render "pagination" %>

<table class="table table-striped">
  <colgroup>
    <col width="120">
    <col width="120">
    <col width="200">
    <col>
  </colgroup>
  <tr>
    <th>Booking Date</th>
    <th>Value Date</th>
    <th>Amount</th>
    <th>Subject</th>
  </tr>
  <% @transactions.each do |t| %>
  <tr>
    <td><%= l t.booking_date.to_date rescue "-" %></td>
    <td><%= l t.value_date.to_date rescue "-" %></td>
    <td class="text-right"><%= format_currency t.amount %></td>
    <td><%= t.subject %></td>
  </tr>
  <% end %>
</table>

<%= render "pagination" %>
