<div class="row justify-content-center">
  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
    <table class="table table-striped">
      <colgroup>
        <col width="25%">
        <col width="45%">
        <col width="30%">
      </colgroup>
      <tr>
        <th>
          Booking Date<br />
          <small>Value Date</small>
        </th>
        <th>
          Subject<br />
          <small>Type</small>
        </th>
        <th class="text-right">Amount</th>
      </tr>
      <% @transactions.each do |t| %>
        <tr>
          <td>
            <%= l t.booking_date.to_date rescue "-" %><br />
            <small class="text-muted"><%= l t.value_date.to_date rescue "-" %></small>
          </td>
          <td>
            <%= link_to t.subject, t %><br />
            <small class="text-muted"><%= t.transaction_type %></small>
          </td>
          <td class="align-middle text-right"><%= format_currency t.amount %></td>
        </tr>
      <% end %>
    </table>

    <div class="my-5">
      <%= paginate @transactions %>
    </div>

  </div>
</div>
