<!DOCTYPE html>
<html>
  <head>
    <title>Fidor API Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag    "//maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
