<!DOCTYPE html>
<html>
  <head>
    <title>FidorApiDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>Fidor API Demo</h1>

      <% if logged_in? %>
        <%= render "logged_in" %>
      <% else %>
        <%= render "guest" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
